apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://kubernetes.docker.internal:6443
  name: docker-desktop
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://34.77.10.59
  name: gke_drone-ci-289110_europe-west1-b_drone-perf
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://35.226.55.81
  name: gke_drone-ci-289110_us-central1_palo
contexts:
- context:
    cluster: docker-desktop
    user: docker-desktop
  name: docker-desktop
- context:
    cluster: gke_drone-ci-289110_europe-west1-b_drone-perf
    user: gke_drone-ci-289110_europe-west1-b_drone-perf
  name: gke_drone-ci-289110_europe-west1-b_drone-perf
- context:
    cluster: gke_drone-ci-289110_us-central1_palo
    user: gke_drone-ci-289110_us-central1_palo
  name: gke_drone-ci-289110_us-central1_palo
current-context: gke_drone-ci-289110_us-central1_palo
kind: Config
preferences: {}
users:
- name: docker-desktop
  user:
    client-certificate-data: DATA+OMITTED
    client-key-data: DATA+OMITTED
- name: gke_drone-ci-289110_europe-west1-b_drone-perf
  user:
    auth-provider:
      config:
        access-token: ya29.a0Aa4xrXMSPogsDn5ItCVf_xCQmq9AmID9tCMQGokcFVQLINsvdvClQd10s7qmvWQZ4KeSpv3G5e7z9F1gd8OzrsJvsMJHDBHpZZpQD0f0j5pdyMWEzGwAtvtUK2Ahh1mr4w6QX_2HTs8yW6YIVXD_BpqY8A8FWxkKwoh3eSAaCgYKATASARESFQEjDvL9XNMqMilekcRvApjETTB2cQ0174
        cmd-args: config config-helper --format=json
        cmd-path: /usr/lib/google-cloud-sdk/bin/gcloud
        expiry: "2022-10-05T15:25:28Z"
        expiry-key: '{.credential.token_expiry}'
        token-key: '{.credential.access_token}'
      name: gcp
- name: gke_drone-ci-289110_us-central1_palo
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      args: null
      command: gke-gcloud-auth-plugin
      env: null
      installHint: Install gke-gcloud-auth-plugin for use with kubectl by following
        https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke
      interactiveMode: IfAvailable
      provideClusterInfo: true
